#!/bin/bash

username=
password=

PATH=/sbin:/usr/bin:/usr/local/bin

date () {
  '/usr/local/bin/gdate' "$@"
}
sleep () {
  '/usr/local/bin/gsleep' "$@"
}

# If this script is being run automatically
if [ ! -t 0 ]; then
  SSID=`/System/Library/PrivateFrameworks/Apple80211.framework/Versions/A/Resources/airport -I | awk '/ SSID:/ {print $2}'`

  if [ "$SSID" != "ntnu_5g" ]; then
    echo `date` "Not connected to ntnu_5g, skipping"
    exit 0
  fi
  
  # Redirect stdout to /usr/local/var/log/ntnuwifiautologin.log
  mkdir -p /usr/local/var/log
  exec &>/usr/local/var/log/ntnuwifiautologin.log
  
  echo `date` "Currently connected to school Wi-Fi, sleeping 3 seconds before continuing"

  sleep 3
fi

echo `date` "Manipulating route to 140.122.131.1/32"

route delete 140.122.131.1/32 1>/dev/null 2>&1
route add 140.122.131.1/32 172.16.1.254 1>/dev/null 2>&1

echo `date` "Trying to get Firewall Login magic"

a=$(curl \
  --silent \
  --connect-timeout 5 \
  --max-time 10 \
  --retry 5 \
  --retry-delay 1 \
  --retry-max-time 40 \
  --insecure \
  'https://140.122.131.1:1003/login?')
re='magic" value="([0-9a-zA-Z]+)"'

if [[ $a =~ $re ]]; then
  magic=${BASH_REMATCH[1]}
else
  exit 1
fi

echo `date` "Firewall Login magic: $magic"
echo `date` "Sending login request"

result=$(curl \
  --silent \
  --connect-timeout 5 \
  --max-time 10 \
  --retry 5 \
  --retry-delay 1 \
  --retry-max-time 40 \
  --insecure \
  'https://140.122.131.1:1003/' \
  -X 'POST' \
  -H 'Content-Type: application/x-www-form-urlencoded' \
  -H 'Pragma: no-cache' \
  -H 'Accept: text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8' \
  -H 'Accept-Language: en-us' \
  -H 'Accept-Encoding: gzip, deflate, br' \
  -H 'Cache-Control: no-cache' \
  -H 'Host: wificert2.ntnu.edu.tw:1003' \
  -H 'Origin: https://wificert2.ntnu.edu.tw:1003' \
  -H 'User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_6) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.1.2 Safari/605.1.15' \
  -H "Referer: https://wificert2.ntnu.edu.tw:1003/fgtauth?$magic" \
  --data "4Tredir=http%3A%2F%2Fcaptive.apple.com%2F&magic=$magic&username=$username&password=$password")
re='\/keepalive\?([0-9a-zA-Z]+)";<\/script>'

if [[ ! $result =~ $re ]]; then
  exit 1
fi

keepaliveURL="https://140.122.131.1:1003/keepalive?"${BASH_REMATCH[1]}
echo `date` "Keepalive URL:" $keepaliveURL
echo $keepaliveURL > /var/run/ntnuKeepalive

exit 0
